html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
/* 设置根字体大小为16px */
html {
  font-size: 16px;
}

/* 使用媒体查询来动态调整根字体大小 */
@media (max-width: 1286px) {
  html {
    font-size: 14px;  /* 根据屏幕宽度调整 */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;  /* 根据屏幕宽度调整 */
  }
}